body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.carouselProductsImg {
  height: 258px;
}

@media (min-width: 767px) and (max-width: 991px) {
  .carouselProductsImg {
    height: 400px;
  }
}

@media (min-width: 992px){
  .carouselProductsImg {
    height: 600px;
  }
}

@media (max-width: 576px) {
  .order-xs {
    order: -1;
  }
}